body{
    margin: 0;
    line-height: 30px;
    font-size: 12px; 
    background: #FAFAFA;
}

a{
    text-decoration: none;
    color: #ff6633;
    white-space: nowrap;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul .title{
    width: 100px;
    text-align: center;
    display: inline-block;
}

table{
    width: 100%;
}

#container{
    display: table;
    width: 900px;
    margin: 20px auto
}

.hide{
    display: none;
}

.notice{
    color: #CCC;
}

.input{
    width: 150px;
    text-align: center;
}

.wide_input{
    width: 400px;
}

.input_area{
    width: 400px;
    height: 50px;
    resize: vertical;
}

#version{
    color: #FFF;
}

#page_body{
    display: table;
}

/* header */
#header{
    width: 100%;
    clear: both;
    margin-bottom: 40px;
}
#header .top_menu{
    display: table;
}
#header .menu-cell{
    float: left;
}

#win_l{
    text-align: center;
    float: left;
    width: 170px;
    padding: 15px;
    border-right: 1px dotted #DDD;
}

#win_r{
    padding: 15px;
    float: right;
    width: 650px;
}

#footer{
    text-align: center;
    clear: both;
    margin-top: 40px;
}

.clear{
    clear: both;
}

.fl{
    float: left; 
}

.text_l{
    text-align: left;
}

.text_r{
    text-align: right;
}

.text_c{
    text-align: center;
}

.fr{
    float: right;
}

.m_top_10{
    margin-top: 10px;  
}

.m_left_10{
    margin-left: 10px;
}

.m_left_15{
    margin-left: 15px;
}

.m_right_15{
    margin-right: 15px;
}

.this_row{
    background: #FFF0E8;
}

.table_title{
    background: #FFF;
}

.pos_rel{
    position: relative;
}

/* 登录 */
#login_form{
    float: right;
    width: 300px;
    margin: 200px auto;
}

/* 管理菜单 */
#admin_menu .keywords_panel,
#admin_menu .user_panel,
#admin_menu .msgtype_panel,
#admin_menu .blacklists_panel,
#admin_menu .reply_panel,
#admin_menu .commands_panel{
    display: none;
    text-align: center;
    width: 100%;
}
#admin_menu li{
    overflow: hidden;
}